/* Main App Layout for the teacher application */
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap");

.teacher-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
}

.digital-clock {
  font-family: "Orbitron", sans-serif; /* Digital-looking font */
  font-size: 35px;
  color: #00ff00; /* Classic neon green */
  text-shadow: 0 0 8px #00ff00, 0 0 16px #00ff00;
  background-color: black;
  padding: 5px;
  border-radius: 8px;
  width: fit-content;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Arial", sans-serif;
  font-weight: bold;
  margin: 8px 0; /* Keeps spacing small */
  padding: 4px 8px; /* Adds slight padding */
  color: #333;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

.main-content {
  padding-bottom: 24px; /* Adjust based on footer height */
}

.header {
  display: flex;
  background-color: #4caf50;
  color: white;
  text-align: center;
  width: 100%;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  font-family: "Arial", sans-serif;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.header h1 {
  margin: 0;
}

.header nav {
  margin-top: 10px;
}

.header nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  margin: 0 15px;
}

.header nav a:hover {
  text-decoration: underline;
}

.objective-box {
  background-color: #6b4d4d;
  border-left: 5px solid #4caf50;
  padding: 20px;
  width: 100%; /* Make it span the full container width */
  font-size: 18px; /* Increase text size */
  font-family: Arial, sans-serif;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center; /* Center the text */
}

.objective-box h2 {
  font-size: 24px; /* Make header text larger */
  color: #333;
  margin-bottom: 10px;
}

.objective-box p {
  font-size: 18px; /* Increase paragraph text */
  color: #555;
}
/* Navigation container for easy access */
.nav-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: #f8f8f8;
  padding: 10px;
  margin-bottom: 20px;
}

/* Container for module buttons, representing different modules for the teacher toolkit */
.tool-buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  width: 100%;
  margin: 10px 0;
}

/* Button styling for teacher app with pulsing effect on hover */
.teacher-button-close {
  background-color: #e35252;
  color: white;
  border: none;
  padding: 12px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.2s ease-in-out;
}

.teacher-button-open {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 12px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.2s ease-in-out;
}

.teacher-button-close:hover {
  animation: pulse 1s infinite;
}

/* Keyframes for pulse effect */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  font-size: 14px;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.footer a {
  color: #4caf50;
  text-decoration: none;
  font-weight: bold;
}

.footer a:hover {
  text-decoration: underline;
}

.input-text {
  width: 90%;
  padding: 12px;
  font-size: 30px;
  border: 2px solid #4caf50;
  border-radius: 5px;
  outline: none;
  transition: 0.3s;
}

.input-box-1 {
  width: 90%;
  color: white;
  padding: 12px;
}

.input-box-1::placeholder {
  color: white;
}

.input-text:focus {
  border-color: #4caf50;
  box-shadow: 0px 0px 8px rgba(46, 139, 87, 0.5);
}

.input-text::placeholder {
  color: #888;
  font-style: italic;
}


.exit-ticket-container {
  max-width: 600px;
  align-items: center;
  margin: auto;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.qa-container {
  padding: 15px;
}

.qa-item {
  margin-bottom: 10px;
}

.flashcards-container {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 25px;
  padding: 10px;
}

.flashcards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  font-size: calc(30px - 0.5vw * var(--text-length));
}

.flashcard {
  width: 300px;
  height: 220px;
  font-size: 40px;
  border: 2px solid #000000;
  padding: 10px;
  text-align: center;
  background-color: #fff;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.flashcard.selected {
  background-color: #4caf50;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #333;
}

.steps {
  width: 100%;
  background-color: #f7f7f7;
  border-radius: 7px;
  padding: 25px 50px;
  margin: 20px auto;
}

.numbers {
  display: flex;
  justify-content: space-between;
}

.numbers > div {
  height: 40px;
  aspect-ratio: 1;
  background-color: #e7e7e7;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.numbers .active {
  background-color: #7950f2;
  color: #fff;
}

.message {
  text-align: center;
  font-size: 40px;
  margin: 40px 0;
  font-weight: bold;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: space-between;
}
.button {
  background-color: #7950f2; /* Blue color */
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  margin: 5px;
}

.input-box {
  width: 250px;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #7950f2;
  border-radius: 6px;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.input-box:focus {
  border-color: #7950f2;
  box-shadow: 0 0 8px rgba(0, 91, 255, 0.5);
}



.buttons button {
  border: none;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 100px;
  font-size: 14px;
  font-weight: bold;

  display: flex;
  align-items: center;
  gap: 10px;
}

.buttons button span {
  font-size: 16px;
  line-height: 1;
}

h3 {
  margin: 0;
  text-transform: uppercase;
}

.fullscreen-btn {
  background: #7950f2;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.fullscreen-btn:hover {
  background: #5a3ac7;
}

.countdown-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 1px;
  background-color: #f4f4f4;
  border-radius: 1px;
}

.timer-display {
  font-size: 25px;
  font-weight: bold;
  color: #333;
  padding: 0px;
}

.buttons button,
.buttons input {
  min-width: 30px;
  padding: 8px 12px;
  font-size: 16px;
  border: none;
  margin: 10px;
  background: #7950f2;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.buttons button:hover {
  background: #5a3ac7;
}

.buttons input {
  width: 80px;
  text-align: center;
}

.fade-in {
  opacity: 0;
  transform: translateY(10px); /* Slight movement */
  transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}


.presentation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.presentation-container .input-box {
  padding: 10px;
  font-size: 16px;
}

.presentation-container .button {
  padding: 10px 20px;

  font-size: 16px;
  cursor: pointer;
}